
@import url(responsive.css);
@import url(/asuntoslink/copiassum.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body{
    background-color: rgb(245, 240, 233);
    font-family: 'Times New Roman', Times, serif;
    
}

/*cuadro del lado derecho de la pantalla */

.cuadrocolor{
    background-color: white;
    position: fixed;
    top: 3%;
    right: -1.5%;
    width: 25%;
    height: 100%;
    overflow: scroll;
}
.cuadrocolor div{
    padding: 3%;
}


.slider-container {
    width: 100%; /* Ajusta el ancho según lo necesites */
    height: 180px; /* Ajusta el alto según lo necesites */
    overflow: hidden;
    max-height: 100%;
    
    
}

.slider-container img {
    border-radius: 2%;
    width: 100%;
    height: auto;
    display: none;
}
/*
.bord{
    width: 100%;
    height: 100vh;
    
    overflow: auto;
    max-height: 100%;
    width: calc(100% + 20px);
    
}
.bord div{
    border-right: 10px solid cadetblue;
}

.titulo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-variant: small-caps;
    text-align: center;
    background-color: cadetblue;
    color: mistyrose;
}
.bord a{
    text-decoration: none;
    margin-top: 3%;
    
}

.bord img{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    width: 17%;
   
}


.bord div a:hover p{
    border-bottom: 1px solid rgb(100, 90, 90);
    padding-left: 10%;
    color: rgb(255, 255, 255);
    background-color: darkcyan;
    text-shadow: 1px 1px 3px rgb(3, 3, 2);   
}

.bord div p{
    transition: all .5s;
    padding: 1%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

/*--------------------------------------*/

i{
    font-size: 2em;
}
.btop{
    height: 4%; 
}
.contenido a:hover{
    transition: all .5s;
    
    text-decoration: none;
    color: rgb(251, 251, 251);
    text-shadow: 1px 1px 2px black;
    padding: 4%;
    margin: 1.5%;
    font-size: 1.5em;
}

 
.grabado{
    position: fixed;
    left: 65%;
    top: 35%;
    width: 30%
    
}
 

.grabado h1{
    text-align: center;
    color:  rgb(245, 240, 233);
    text-shadow: 1px 0px  0px #cfd1d1;
    transition: all .4s;
    font-size: 4em;
    opacity: 50%;
    width: 100%;
}
.grabado:hover h1{
    text-shadow: 0px 0px  10px #cfd1d1;
    opacity: 80%;
}
/*------------------------------------------------------------------

.up-img{
    background-color: rgb(149, 197, 228);
    margin-left: 2%;
    border-bottom: .5px double rgb(10, 8, 8);
    color: #777e81;
    font-style: italic;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
}

.borde1{
    
    position: fixed;
    top: 25%;
    left: 70%;
    width: 40%;
    z-index: 4;
}

.borde1 a{
    background-color: rgb(141, 70, 70);
    color: rgb(213, 213, 231);
    text-decoration: none;
    display: none;
    border: 1px solid black;
    border-radius: 24px;
    margin-top: 3%;
}

.borde1 img{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    width: 18%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 24px;
}
.borde1:hover div a{
    display: block;
    border-left: 1px solid rgb(160, 128, 128);
    border-radius: -24px;
   
}

.borde1 div a:hover p{
    padding-left: 10%;
    color: lightgrey;
}

.borde1 div p{
    transition: all .5s;
    padding: 1%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 1px 1px 3px rgb(3, 3, 2);   
}

.borde1 .bde{   
    margin: 1%;
    width: 7%;
    margin-left: 35%; 
}

/*--------------------------------------------------------------------*/

/*apertura de contenidos todos los diarios*/

.contenido{
    width: 37%;
    margin: 0 0 5% 27%;
    display: flex;
    flex-direction: column;
   
}
.contenido div img{
    width: 70%;
}


.contenido h4{
    text-align: center;
    line-height: 1.4em;
    margin: 10%;
    color: rgb(97, 154, 207);
}

.contenido h3{
    position: relative;
    left: 46%;
    width: 10%;
    text-align: center;
    border-bottom: 1px solid black;
    border-right: 1px solid black;;
    
}

.contenido h3:hover{
    color: white;
    background-color: rgb(208, 225, 225);
    border-bottom: 1px solid black;
    width: 10%;
    
}


.contenido p{
    margin:1%;
    text-align: justify;
    line-height: 18px;
    font-size: .8em;
}

/*cierre contenido todos los diarios*/

.contenido-romanos{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    line-height: 1.4em;

}

/* contenido-romanos - cierra informacion de los asuntos entrados en arial */


.piepag{
    margin-left: 25%;
    width: 39%;
}

.piepag p{
    text-align: center;
}
.pie-pagina{
    text-align: justify;
    line-height: 1.4em;
    margin-top: 50px;
    display: block;
    float: right;
    width: 45%;
    font-family: Arial, Helvetica, sans-serif;
    
}
.pie-pagina2{
    text-align: justify;
    width: 100%;
    line-height: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
   
    display: flex;
    justify-content: right;
}
.pie-pagina2 p{
    width: 50%;
    margin-bottom: 10%;
}

.pie-pagina2 span{
    margin-bottom: 10px;
}

.pie-pagina2 em{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
}
.pie-pagina3{
    
    width: 100%;
    line-height: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    display: flex;
    justify-content: right;
}
.pie-pagina3 p{
    text-align: center;
    width: 50%;
    margin-bottom: 20px;
}

.pie-pagina3 span{
    margin-bottom: 10px;
}
 
/*referencias de scroll*/


.lateral{
    margin-top: 1%;
    background-image: linear-gradient(to bottom right,  rgb(97, 154, 207) -60%, #fcfcfc 100%);
    max-width: 25%;
    
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    font-size: 1em;
    
}

.scroll h4{
    background-image: linear-gradient(to bottom right,  rgb(97, 154, 207) -60%, #fcfcfc 100%);
    position: fixed;
    top: 5%;
    left: 2.5%;
    color: rgb(122, 154, 188);
    font-size: 1.5em;
}
.scroll h3{
    padding-top: 14%;
}

.scroll p{
    margin-bottom: 5%;

}

.scroll{
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin-left: 3%;
}

.scroll div{
    color: #4d5558;
    margin: 3% 7%;
    padding: 3%;
}

.lateral div{
    padding: 2%;
    text-align: left;
    font-size: .95em;
    letter-spacing: 0.2px;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.4;
    
}
/*
.lateral  span{
    cursor: pointer;
    font-size:medium;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    background-color: cornflowerblue;
    color: white;
}*/
.lateral  span{
    
    font-size: 1.1em;
    background-color: rgb(149, 197, 228); 
    color: rgb(120, 104, 104);
    font-weight: bold;
}



.lateral a{
    line-height: 1.4;
    text-decoration: none;
    color: rgb(15, 12, 12);;
}

.lateral h3{
    color: aliceblue;
    margin-top: 10%;
    text-align: center;
}

.scroll p{
    text-align: left;
    font-size: .9em;
}
.scroll a p span{
    font-size: 1em;
}
/*----------------------------------*/
.tituloleg img{
    top: 3%;
    position: fixed; 
    width: 25%;
    right: 10%;
    
}

.barratop span{
margin-left: 27.3%;
}

.barratop{
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    height: 4%;
    background-image: linear-gradient(to bottom right,  rgb(97, 154, 207) -60%, #fcfcfc 100%);
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
.barratop a{
    text-decoration: none;
    color: rgb(97, 154, 207);
    font-size: 1.1em;

}

.subtitulos p{
    
    text-align: center;
    
}

/*estilo de letras... la legislatura de la provincia*/

.fontime p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    font-style: italic;
}

/*


/*imagen*/

.tituloleg img{
    right: 5%;
}


/*escrito en em*/

.em p{
    font-style: italic;
}
.em{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
}

.primerh1{
    margin-top: 50px;
}

/*imagen lapiz*/

.subtitulos img{
    position: relative;
    width: 50px;
    height: auto;
    bottom: 60px;
    left: 340px;
    
}



/*separador de span en sumario*/


.separador p{
    color: black;
    text-align: left;
    margin-top: 10px;
}


/*referencia h2 orden del dia*/

.scroll h2{
    text-align: center;
    color: #777e81;
}

/*texto grabado

.grabado{
    position: fixed;
    left: 500px;
    top: 200px;
    width: 100px;
    z-index: 2;
    
}

.grabado h1{
    text-align: center;
    color: antiquewhite;
    text-shadow: 1px 0.5px 0 #bbc1c3;
}
*/

.categoria{
    width: 60%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 14 (min-content 30px max-content 200px);
    padding-bottom: 10px;

}
.categoria div{
      
    text-align: center;
    width: 100%;
    height: auto;
}

.porcentaje{
    width:auto;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 23 (min-content 10% max-content 100%);
    padding-bottom: 10px;
    gap: 0;
    

}
.porcentaje div{
    border: 1px solid black;
    text-align: center;
    width: 100%;
    
    margin: 4%;
    padding: 3%;
    
}



.genero{
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

.varon{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    
}
.mujer{
    grid-column: 3 / 4;
    grid-row:  2 / 3;
}
.sustancia{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}
.tabaco{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
.total{
    grid-column: 4 / 5;
    grid-row: 1 / 3;
}

.barratop span{
    font-weight: bolder;
}

.firmado{
    width: 100%;
}

.firmado{
    margin-bottom: 5%;
}
.gridfirmas{
    
    display: grid;
    justify-content: end;
    grid-template-columns: auto;
    grid-template-rows: 12(min-content 10% max-content 100%);
    font-style: italic;
    
}

.centrado{
    margin-left: 15%;
}
/*----------------------------------*/
.imagenhl img{
    width: 14%;
}


/*cuadro de enlaces de asuntos*/
.asuntos{
    display: flex;
    justify-content: center;
    align-items: center;
}
.asun-centrado{
    
    display: grid;
    width: 70%;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 15;
    transition: all .5s;
}
.asuntos div{
    padding: 3%;
    margin-top: 3%;
}
.asun-centrado div{
    text-align: center;
    border-bottom: 1px solid rgb(255, 255, 255);
    /*border-left: 1px solid rgb(206, 189, 189);*/
    color: floralwhite;
}
.separador-a ul li:hover{
    background-color: rgb(166, 176, 186);
}
.asuntos a{
    color: rgb(16, 16, 16);
    text-shadow: 2px 2px 2px #afcdd8;
    font-weight: bold;
    
}
.separador-a ul li{
    margin-top: 2%;
    border-left: 1.5px solid darkcyan;
    border-bottom: 1.5px solid darkcyan;
    background-color: khaki;
    
    padding: 2%;
    list-style-type: none;
}
.centrar-asunto{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-top-left-radius: 10%;
}
.centrar-asunto a{
    color: white;
    text-transform: uppercase;
}
.centrar{
    background-color: #307B7B;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
}
.centrar a{
    color: aliceblue;
}
.circulo1{
    
    width: 10%;
    position: fixed;
    top: 5%;
    right: 5%;
    border-left: 1px solid rgb(48, 39, 48);
}
.circulo1 div{
    
    margin-bottom: 5px;
    
}
.circulo1 div a{
    
    padding: 20%;
    font-size: 1.5em;
    color: #b07b88;
    
}
.circulo1 div:hover{
    background-color: #4d5558;
}
/*
.circulo2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
}
.circulo2 div{
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 1%;
    padding: 1%;
    background-color: #afcdd8;
    cursor: pointer;
}
.circulo2 div:hover{
    background-color: brown;
}
*/
@media only screen and (min-width: 300px) and (max-width: 768px){
    .lateral div{
        font-size: .7em;
        
    }
    .scroll div{
        margin-top: 7%;
    }
    .lateral span{
        font-size: .7em;
    }
    .lateral .scroll h4{
        width: 18%;
        font-size: .7em;
    }
    .lateral .scroll h3{
        margin-top: 35%;
    }
    .contenido{
        font-size: .8em;
    }
    .contenido p{
        font-size: .6em;
    }
    .contenido h3{
        font-size: .8em;
    }
    .contenido h4{
        font-size: .8em;
    }
    .piepag {
        font-size: .5em;
    }
    .em{
        font-size: .6em;
    }
    .grabado{
        top: 60%;
    }
    .grabado h1{
        font-size: 1.5em;
    }
    video{
        left: 72%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
    .lat div{
        font-size: .9em;
        
    }
    .scroll div{
        margin-top: 7%;
    }
    .lateral span{
        font-size: .8em;
    }
    .lateral .scroll h4{
        width: 19%;
        font-size: .8em;
    }
    .lateral .scroll h3{
        margin-top: 16%;
    }
    .contenido{
        font-size: .9em;
    }
    .contenido p{
        font-size: .7em;
    }
    .contenido h3{
        font-size: .9em;
    }
    .contenido h4{
        font-size: .9em;
    }
    .piepag {
        font-size: .6em;
    }
    .em{
        font-size: .9em;
    }
    .grabado h1{
        font-size: 2em;
    }
}


@media only screen and (min-width: 1024px) and (max-width: 1200px){
    .lateral div{
        font-size: .95em;
        
    }
    .lateral span{
        font-size: .9em;
    }
    .scroll div{
        margin-top: 7%;
    }
    .lateral .scroll h4{
        width: 20%;
        font-size: .95em;
    }
    .lateral .scroll h3{
        margin-top: 20%;
    }
    .contenido{
        font-size: 1em;
    }
    .contenido p{
        font-size: .8em;
    }
    .contenido h4{
        font-size: .95em;
    }
    .piepag{
        font-size: .8em;
    }
    .em{
        font-size: 1em;
    }
    .grabado h1{
        font-size: 3em;
    }
}