@import url(/estilosgenerales.css);
@import url(/opciones/opcionezq.css);

*{
    margin: 0;
    padding: 0;
}
/*volver a inicio*/
.back{
    position: fixed;
    bottom: 5%;
    right: 7%;
    width: 20px;
    text-align: center;
    z-index: 600;
}
.back a img{
    width: 60px;
    height: auto;
    border: 1px solid black;
    border-radius: 4px;
}

.back a{
    color: white;
}

.back2{
    position: relative;
    right: -300px;
}
body{
    background-color: antiquewhite;
}

/*cuadro interactivo de la secretaria del poder ejecutivo*/

.centrar{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
}
.box-pe{
    margin-top: 7%;
    margin-left: 12%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    transition: all.5s;
}
.box-pe div{
    background-color: rgb(201, 182, 182);
    width: 13%;
    height: 70px;
    border-radius: 5%;
    font-family: sans-serif;
    font-weight: bold;
    transition: all .5s;
    margin: 1%;
    box-shadow: 2px 2px 4px rgb(118, 91, 91);
    padding: 1% 1% 0 1%;
}
.box-pe p{
    color: rgb(74, 64, 100);
    transition: all .5s;
    text-align: center;
}
.box-pe div:hover {
    position: relative;
    transition: all .5s;
    box-shadow: 2px 2px 1px rgb(118, 110, 110);
    background-color: rgb(44, 40, 40);
}
.box-pe a{
    transition: all .5s;
    font-size: .75em;
    text-decoration: none;
    color: white;
   
}
.box-pe div:hover a p{
    color: rgb(255, 253, 253);
}
.box-pe div a{
    transition: all .5s;
}
.box-pe a p{
    transition: all .5s;
    padding: 1%;
}
.box-pe a:hover p{
    white-space: wrap;
    overflow: visible;
}

/*cierre cuadro interactivo*/

.unioncivica1{
    margin:  9% 0 0 15%;
    display: grid;
    height: auto;
    width: 50%;
    grid-template-columns: 24% 24% 52%;
    grid-template-rows: 4 (min-content 25px, max-content 200px);
    justify-content: center;   
}
.unioncivica1 div{   
    padding: 3%;
    width: auto;
    border: 1px solid black;
    background-color: rgb(231, 233, 237);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.unioncivica1 p{
    font-size: .9em;
}

.unioncivica{

    
    margin: 9% 0 0 15%;
    display: grid;
    height: auto;
    width: 50%;
    grid-template-columns: 24% 24% 52%;
    grid-template-rows: 4 (min-content 25px, max-content 200px);
    justify-content: center;
    
    
}
.unioncivica div{
    
    padding: 10px 4px 10px 4px;
    width: auto;
    border: 1px solid black;
    background-color: rgb(231, 233, 237);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.unioncivica p{
    font-size: .9em;
}

.uno{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 1.5;
    font-weight: bold; 
    font-size: 15px;
    color:rgb(105, 91, 90);
}
.dos{
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    line-height: 1.3;
}
.tres{
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

/*titulos fixed posicion arriba poder judicial, ministerios (arreglar colores y fondos)*/
.titulosh12{
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    bottom: 10px;
    background-image: linear-gradient(to bottom left,  rgb(97, 154, 207) -60%, #fcfcfc 100%);
    position: fixed;
    height: 90px;
    width: 100%; 
    letter-spacing: 2px;
}

.titulosh12 h2{
    text-align: center;
    margin-bottom: 20px;
    color: #fdfeff;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    margin: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulosh12 a{
    text-decoration: none;
}

.titulosh12 h1{
    text-shadow: 2px 2px 4px rgb(82, 94, 114);
    text-align: center;
    padding-top: 5px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(49, 80, 81);
}

.titulosh12:hover h1{
    text-shadow: 3px 5px 5px rgb(169, 190, 238);
    transition: all .5s;
}

