
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #8292a9;
}
/*logo principal*/

.logolegislatura{
    position: fixed;
    top: 0;
    left: 1%;
    z-index: 3000;
}

.logolegislatura img{
    width: 50%;
    opacity: .4;
}
.logolegislatura img:hover{
    opacity: 2;
    transition: all .8s;
}
.btop{
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: brown;
    box-shadow: 1px 1px 2px rgb(180, 180, 237);
    /*background-image: linear-gradient(to bottom right,  rgb(97, 154, 207) -60%, #fcfcfc 100%); */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
.btop a{
    transition: all .5s;
    text-decoration: none;
    color: #ffffff;
    font-size: .8em;
}

.btop a:hover{
    font-size: 1.1em;
}

.encabezado_1ro{ 
    position: fixed;
    top: 0;
    min-width: 100%;
    z-index: 3000;
    background-color: white;
    height: 10%;
    p{
        margin-top: 1%;
        text-align: center;
    }
}


.encabezado_1ro h4{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}
.encabezado_1ro h3{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.encabezado_1ro h6{
    margin-top: 2%;
    text-align: center;
    font-family: "Frank Ruhl Libre", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: brown;
}
.encabezado_1ro div{
    position: absolute;
    background-color: rgb(162, 192, 193);
    color: aliceblue;
    right: 8px;
    top: 6px;
}

.barra-comisiones{
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    padding-bottom: 1%;
    margin-bottom: 20%;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    border-bottom: 6px solid brown;
    div a{
        padding: 5px;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: rgb(19, 16, 16);
        span{
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: 2em;
        }
    }
}
.barra-comisiones img{
    width: 50%;
    opacity: .5;
    z-index: -1;
    transition: all .5s;
}
.barra-comisiones:hover img{
    opacity: 9;
}s

.division1{
    display: flex;

}
.division1 div{
    margin: 2%;
    width: 100%;
    padding: .5%;
    border: 1px solid rgb(173, 154, 154);
    border-radius: 24px;
    text-align: center;
    background-color: rgb(218, 208, 196);
}
.division1 p{
    background-color: lightslategrey;
    border-radius: 24px;
    color: black;
    padding: 1%;
}
.division1 p:hover{
    color: white;
}
.division2{
    display: flex;
    margin-top: 5%;

}
.division2 div{
    margin: 2%;
    width: 100%;
    border-left: 6px solid ;
    border-image: linear-gradient(to top, #833ab4, #fd1d1d, #fcb045) 1;
    border-bottom-right-radius: 1%;
    padding: 1%;
    box-shadow: 1px 1px 2px rgb(129, 125, 125);
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.division2 p{
    text-align: left;
    padding: 4%;
    letter-spacing: 5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .7em;
}
.division2 div h2 a{
    text-decoration: none;
    color: aliceblue;
    
}
.division2 div h2{
    background-color: brown;
    margin-bottom: 1%;
    text-align: center;
}
.division2 img{
    width: 80%;
    
}
.division2 p{
    display: inline-block;
    width: 80%;
    margin: 1.5% 0;
    padding: 0 5%;
}
/*
.doble{
    display: flex;
   
}
.doble p{
    
    margin: 0;
    padding: 0;
}*/
/*listas*/
.division{
    display: flex;
    border-bottom: 3px double rgb(255, 255, 255);
    border-top: 1px solid rgb(204, 178, 178);
    padding: 3%;
}

.box-com{
    display: grid;
    margin: 0 0 0 1%;
    padding: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 15 (auto);
    width: 40%;
    height: 70%;
    padding: 0 1%;
    transition: all .5s;
   
}

.box-com p{
    width: 60%;
    margin: 4%;
    border-bottom: 3px double brown;
    transition: all .5s;
    list-style-type: square;
    text-decoration: none;
    padding: 2%;
    letter-spacing: .5px;
    transition: all .5s;
    color: beige;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    
}
.box-com li:hover p{
    padding: 3% 0;
    background-color: lightslategrey;
}
.box-com div:hover p{
    color: aliceblue;
}

.box-com ul li a{
    border: 1px solid rgb(160, 143, 143);
    text-align: center;
    display: none;
    width: 30%;
    text-decoration: none;
    background-color: brown;
    color: aliceblue;
    transition: all .5s;
}
.box-com ul li:hover a{
    transition: all .5s;
    display: block;
   
}
.box-com ul li{
    transition: all .5s;
    list-style-type: square;
}
/*titulo fijo de las opciones*/

.titulo-pos-fix{
    position: fixed;
    width: 30%;
    height: 5%;
    border: 1px solid white;
    display: none;
    background-color: rgb(164, 68, 47);
    bottom: 7%;
}

.box-com:hover .titulo-pos-fix{
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo-pos-fix p{
    width: 100%;
    border-bottom: none;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}


/*enlace de las dos partes*/
/*estilos para usar opcion volver a autoridades en barratop */
.btop p{
    
    border: 5px solid white;
    border-radius: 24px;
    margin: 0;
    padding: 3%;
}
.btop p:hover{
    border-color: aqua;
}
/*--------------------------*/
/*parte explicativa*/
.comision{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1%;
    margin: 1%;
    background-color: aliceblue;
}
.comision ul{
    margin-left: 5%;
    
}
.comision p span{
    border-bottom: 1px solid black;
}
.comision p{
    padding-bottom: 1%;
}
.info{
    display: block;
    float: right;
    text-align: center;
    width: 2%;
    height: 3%;
    border: 2px solid black;
    border-radius: 40px;
    border-bottom-left-radius: 1px;
    color: rgb(245, 226, 226);
    background-color: red;
    font-weight: bolder;
}

/*imagen para codigo qr solo muestra*/
.qrcod{
    display: flex;
    justify-content: space-between;
    
    margin: 0;
    padding: 1%;
}
.qrcod img{
    margin: 0;
    width: 7%;
}
.dir{
    display: flex;
    flex-direction: column;    
   
}
.dir div{
    padding: 1%;
    color: darkgrey;
    border-left: 1px solid rgb(136, 163, 210);
    border-bottom: 1px solid rgb(136, 163, 210);
}
.dir div:hover{
    color: #fcb045;
    cursor: pointer;
}

/*final de pagina con opcion siguiente pagina*/
.next{
    opacity: .5;
    height: 20%;
    background-color: rgb(233, 230, 230);
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 400;
}
.next footer{
    background-color: rgb(222, 222, 214);
    margin: 3%;
    text-align: center;
    
    border-radius: 24px;
    box-shadow: 1px 1px 2px rgb(86, 86, 84);
    width: 14%;
}
.next footer:hover{
    background-color: #777e81;
}
.next a:hover{
    color: white;
    border-bottom: 2px solid black;
}
.next a{
    transition: all .5s;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(42, 39, 39);
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    border-bottom: 1px solid rgb(99, 91, 91);
}