@import url(/estilosgenerales.css);
@import url(/opciones/opcionezq.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  
    background-color: antiquewhite;
    
}


/*cuadro del lado derecho de la pantalla */

.cuadrocolor{
    background-color: white;
    position: fixed;
    top: 3%;
    right: -1.5%;
    width: 25%;
    height: 100%;
    overflow: scroll;
}
.cuadrocolor div{
    padding: 3%;
}


.slider-container {
    width: 100%; /* Ajusta el ancho según lo necesites */
    height: 180px; /* Ajusta el alto según lo necesites */
    overflow: hidden;
    max-height: 100%;
    
    
}

.slider-container img {
    border-radius: 2%;
    width: 100%;
    height: auto;
    display: none;
}

.bord{
    width: 100%;
    height: 100vh;
    
    overflow: auto;
    max-height: 100%;
    width: calc(100% + 20px);
    
}
.bord div{
    border-right: 10px solid cadetblue;
}

.titulo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-variant: small-caps;
    text-align: center;
    background-color: cadetblue;
    color: mistyrose;
}
.bord a{
    text-decoration: none;
    margin-top: 3%;
    color: rgb(173, 118, 78);
}

.bord img{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    width: 17%;
   
}


.bord div a:hover p{
    border-bottom: 1px solid rgb(100, 90, 90);
    padding-left: 10%;
    color: rgb(255, 255, 255);
    background-color: darkcyan;
    text-shadow: 1px 1px 3px rgb(3, 3, 2);   
}

.bord div p{
    transition: all .5s;
    padding: 1%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

/*--------------------------------------*/

/*ENLACES HACIA LAS OPCIONES*/
.enlaces{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5%;
    
   
}
.enlaces div{
    display: flex;
    flex-direction: row;
    width: 40%;
    margin: 1%;
    transition: all .8s;
    border-bottom: 1px solid rgb(184, 167, 167);
    border-right: 1px solid rgb(170, 159, 159);
}
.enlaces div:hover{
    background-color: brown;
}
.enlaces div a{
    text-align: left;
    text-decoration: none;
    color: brown;
    transition: all .5s;
    font-weight: bold;
}
.enlaces div a:hover{
    color: white;
    padding-left: 5%;
}
.enlaces div p{
    width: 2%;
    position: absolute;
    right: 0;
    transition: all .3s;
    left: 25%;
}.enlaces div:hover p{
    
    color: rgb(29, 87, 46);
    
}
/*constituciond de la provincia*/
.blateral1{
    width: 15%;
    height: 300px;
    position: fixed;
    left: 3%;
    top: 10%;
    overflow: hidden;
    border-radius: 5px;
    background-color: #e4e1e1;
}

.blateral1 div{
    margin: 2%;
    overflow: auto;
    max-height: 100%;
    width: calc(100% + 17px);
    
    font-size: 1em;
    text-align: start;
    padding: 8%;
}
.blateral1 div h1{
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
    border-bottom: 1px solid red;
    border-width: 20%;
    color: darksalmon;
    text-align: center;
   
}
.blateral1 div p{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(98, 135, 179);
    font-size: .8em;
}


/*titulo*/

.tituloleg{
    display: flex;
    justify-content: center;
    align-items: center;  
    text-align: center;
    
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    width: 100%;
   
    
}




.tituloleg h3{
    width: 230px;
    background-color:  rgb(97, 154, 207);
    border: 1px solid rgb(226, 228, 230);
    border-radius: 5px;
    margin-top: 20px;
    color:white ;

}

.tituloleg a{
    text-decoration: none;
    color: black;
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
}

.tituloleg p{
    font-size: small;
}

/*fin titulo */



.leg-mandato1{
    transition: all .5s;
    margin-left: 2.3%;
    margin-top: 10%;
    margin-bottom: 5%;
    display: grid;
    height: auto;
    width: 80%;
    grid-template-columns: 14% 13.2% 32.1%;
    grid-template-rows: repeat (32 , 25px);
    justify-content: center;  
    
     
} 

.leg-mandato1 div{
    padding: 1%;
    width: auto;
    border: 1px solid rgb(216, 216, 216);
    background-color: white;

}
.leg-mandato1 p{
    margin: 1%;
}
.leg-mandato1 div:hover{
    color: darkslategrey;
    background-color:aliceblue;
    box-shadow: 2px 1px 1px rgb(140, 140, 174);
}


.leg-mandato1 a{
    text-decoration: none;
    color: darkcyan;
}

.item1{
    text-align: center;
    grid-column: 1 / 2;
    grid-row: 1 / 37;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: rgb(199, 222, 243);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(97, 154, 207);
}

.item2{
    grid-column: 3 / 4;
    grid-row: 1 / 2; 
}

.item3A{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    text-align:left;
    
}

.item4{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.item5{
    grid-column: 2 / 3;
    grid-row: 3 / 36;
}

.item6{
    grid-column: 3 / 4;
    grid-row: 2 / 3 ;
}



.ultimo{
    grid-column: 1 / 4;
    grid-row: 34 / 35;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}
/*cincofilas*/
.cinco{
    width: 82%;
    margin-left: 18.6%;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 14% 13.2% 31.1%;
    grid-template-rows: 5 (min-content 10% , max-content 100%);
}
.cinco div:hover{
    color: darkslategrey;
    background-color:aliceblue;
    box-shadow: 2px 1px 1px rgb(140, 140, 174);
}
.cinco div{
    
    padding: 1%;
    width: auto;
    border: 1px solid rgb(216, 216, 216);
    background-color: white;
}
.cinco p{
    margin: 1%;
}
.cinco1{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    background-color: rgb(199, 222, 243);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(97, 154, 207);

    grid-row: 1 / 4;
    grid-column: 1 / 2;
}
.cinco6{
    grid-row: 4 / 5;
    grid-column: 1 / 4;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}
.cinco4{
    grid-row: 2 / 4;

}

/*Para el Bloque Politico JUSTICIALISTA DE TODOS */
.leg-mand{
    
    width: 82%;
    margin-left: 18.6%;
    margin-top: 10%;
    display: grid;
    grid-template-columns: 14% 13.2% 31.1%;
    grid-template-rows: 32 (min-content 10% , max-content 100%);
    
}
.leg-mand div{
    background-color: white;
    padding: 1%;
    width: auto;
    border: 1px solid rgb(216, 216, 216);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.leg-mand p{
    margin: 1%;
}
.leg-mand div:hover{
    color: darkslategrey;
    background-color:aliceblue;
    box-shadow: 2px 1px 1px rgb(140, 140, 174);
}
.justicia{
    text-align: center;
    color: black;
    background-color: rgb(199, 222, 243);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(97, 154, 207);
    grid-column: 1 / 2;
    grid-row: 1 / 32;
}
.vacio{
    grid-row: 7 / 32;
}
.fin{
    grid-column: 1 / 4;
    grid-row: 32 / 32;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}
/*ocho espacios*/

.unioncivica{
    transition: all .5s;
    width: 82%;
    margin-left: 18.6%;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 14% 13.2% 31.1%;
    grid-template-rows: 4 (min-content 10% , max-content 100%);
    text-align: left;
    

 
    
}
.unioncivica p{
    margin: 1%;
}
.unioncivica div{
    
    padding: 1%;
    width: auto;
    border: 1px solid rgb(216, 216, 216);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.unioncivica div:hover{
    color: darkslategrey;
    background-color:aliceblue;
    box-shadow: 2px 1px 1px rgb(140, 140, 174);
}
.margen{
    margin-bottom: 10%;
}
/*---------------*/
.uno2:hover p{
    display: none;
}
.uno2:hover h6{
    display: none;
}
.uno2{
    height: 150px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:rgb(97, 154, 207) ;
    text-align: center;
}

.uno1{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:rgb(97, 154, 207) ;
    text-align: center;
}


.uno{
    grid-column: 1 / 2;
    grid-row: 1 / 6;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:rgb(97, 154, 207) ;
    text-align: center;
}

.ocho{
    grid-column: 1 / 4;
    grid-row: 6 / 7;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

.color{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:rgb(97, 154, 207) ;
    text-align: center;
}
/* clase unipersonal*/
.dos{
    grid-column: 2 /4;
}

.tres{
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}
/*referencia hacemos tucuman*/

.hacemos{

    margin-top: 5%;
    width: 82%;
    margin-left: 18.6%;
    display: grid;
    height: auto;
    grid-template-columns: 14% 20% 27%;
    grid-template-rows: 3 (min-content 10% , max-content 100%);
    
}
.hacemos div{
    padding: 1%;
    width: auto;
    border: 1px solid rgb(216, 216, 216);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.hacemos p{
    margin: 1%;
}
.hacemos div:hover{
    color: darkslategrey;
    background-color:aliceblue;
    box-shadow: 2px 1px 1px rgb(140, 140, 174);
}
.tuc{
    text-align: center;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: rgb(199, 222, 243);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(97, 154, 207);
}


.presidenta{
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}
.cuatro44{
    grid-row: 3 / 4;
    grid-column: 3 / 4;
}

.boxtres{
    margin-top: 5%;
    width: 80%;
    margin-left: 18.6%;
    display: grid;
    grid-template-columns: 14% 47%;
    grid-template-rows: 2 (max-content 100%);
}
.boxtres div:hover{
    color: darkslategrey;
    background-color:aliceblue;
    box-shadow: 2px 1px 1px rgb(140, 140, 174);
}
.tresbox{
    grid-row: 2 / 3;
    grid-column: 1 / 3;
}
.unbox{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:rgb(97, 154, 207) ;
    text-align: center;
}
.boxtres p{
    margin: 1%;
}
.boxtres div{
    
    padding: 4px 0px 0px 4px;
    width: auto;
    border: 1px solid rgb(216, 216, 216);
    background-color: white;
}
.pjs{
    margin-top: 5%;
    width: 80%;
    margin-left: 18.6%;
    display: grid;
    grid-template-columns: 14% 20% 27%;
    grid-template-rows: 5(max-content 100%);   
}
.pjs div{
    padding: 4px 0px 0px 4px;
    width: auto;
    border: 1px solid rgb(216, 216, 216);
    background-color: white;
}
.pjs p{
    margin: 1%;
}
.pjs div:hover{
    color: darkslategrey;
    background-color:aliceblue;
    box-shadow: 2px 1px 1px rgb(140, 140, 174);
}
.pjs1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:rgb(97, 154, 207) ;
    text-align: center;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}
.pjs6{
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}
.pjs3{
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}

.trece{
    margin-top: 5%;
    width: 80%;
    margin-left: 18.6%;
    display: grid;
    grid-template-columns: 14% 20% 27%;
    grid-template-rows: 9(max-content 100%);   
}
.trece div{
    padding: 4px 0px 0px 4px;
    width: auto;
    border: 1px solid rgb(216, 216, 216);
    background-color: white;   
}
.trece p{
    margin: 1%;
}
.trece div:hover{
    color: darkslategrey;
    background-color:aliceblue;
    box-shadow: 2px 1px 1px rgb(140, 140, 174);
}
.trece1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:rgb(97, 154, 207) ;
    text-align: center;
    grid-column: 1 / 2;
    grid-row: 1 / 9;
}
.trece13{
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    grid-row: 9 / 10;
    grid-column: 1 / 4;
}
.trece6{
    grid-column: 2 / 3;
    grid-row: 3 / 9;
}


/*tres filas una sola referencia*/


.dosfilas{
    margin-top: 5%;
    width: 80%;
    margin-left: 18.6%;
    display: grid;
    grid-template-columns: 14% 47%;
    grid-template-rows: 2 (max-content 100%);
}
.dosfilas div:hover{
    color: darkslategrey;
    background-color:aliceblue;
    box-shadow: 2px 1px 1px rgb(140, 140, 174);
}
.tresbox{
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}
.unbox{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:rgb(97, 154, 207) ;
    text-align: center;

}
.boxtres div{
    
    padding: 4px 0px 0px 4px;
    width: auto;
    border: 1px solid rgb(216, 216, 216);
    background-color: white;
}

